In [1]:
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from math import sqrt
import math

In [2]:
#create time features and load features
#loading data fron csv files
My_Data = pd.read_csv("Final_data_1.csv") 
My_Data['time'] = pd.to_datetime(My_Data['time'], utc = True)
My_Data.head()

,time,total load actual,total load forecast,temp_Barcelona,pressure_Barcelona,humidity_Barcelona,wind_speed_Barcelona,temp_Bilbao,pressure_Bilbao,humidity_Bilbao,...,temp_Seville,pressure_Seville,humidity_Seville,wind_speed_Seville,temp_Valencia,pressure_Valencia,humidity_Valencia,wind_speed_Valencia,weekday,month
0,2014-12-31 23:00:00+00:00,25385.0,26118.0,281.625,1035.0,100.0,7.0,269.657312,1036.0,97.0,...,273.375,1039.0,75.0,1.0,270.475,1001.0,77.0,1.0,3.0,1.0
1,2015-01-01 00:00:00+00:00,24382.0,24934.0,281.625,1035.0,100.0,7.0,269.763500,1035.0,97.0,...,273.375,1039.0,75.0,1.0,270.475,1001.0,77.0,1.0,3.0,1.0
2,2015-01-01 01:00:00+00:00,22734.0,23515.0,281.286,1036.0,100.0,7.0,269.251688,1036.0,97.0,...,274.086,1039.0,71.0,3.0,269.686,1002.0,78.0,0.0,3.0,1.0
3,2015-01-01 02:00:00+00:00,21286.0,22642.0,281.286,1036.0,100.0,7.0,269.203344,1035.0,97.0,...,274.086,1039.0,71.0,3.0,269.686,1002.0,78.0,0.0,3.0,1.0
4,2015-01-01 03:00:00+00:00,20264.0,21785.0,281.286,1036.0,100.0,7.0,269.485500,1035.0,97.0,...,274.086,1039.0,71.0,3.0,269.686,1002.0,78.0,0.0,3.0,1.0

In [4]:
#create column day of the year and day of month 
My_Data['day_of_year'] = My_Data['time'].dt.dayofyear
My_Data['day_of_month'] = My_Data['time'].dt.day

In [5]:
#create a column of weekdays (0) and weekend (1) indicator
weekday_weekend = []
for i in range(0,len(My_Data)):
    if My_Data['weekday'][i] > 4.0 :
        weekday_weekend.append(1)
    else: 
        weekday_weekend.append(0)
My_Data['weekdays_weekends'] = weekday_weekend

In [6]:
#find the load value, one, two, three, and four weeks before, create a column in dataframe, 
for j in range(1,5):
    
    load_trend = []
    for i in range(0,len(My_Data)):
        if i < 24*7*j :
            load_trend.append(0)
        else: 
            load_trend.append(My_Data.loc[i-24*7*j, 'total load actual'])
    My_Data[str(j)+'prev_week_load'] = load_trend

In [8]:
#Final_Data = My_Data[7*24*4:]
Final_Data = My_Data[7*24*4:].copy(deep=True)

In [8]:
Final_Data = Final_Data.reset_index(drop=True)
Final_Data.head()

,time,total load actual,total load forecast,temp_Barcelona,pressure_Barcelona,humidity_Barcelona,wind_speed_Barcelona,temp_Bilbao,pressure_Bilbao,humidity_Bilbao,...,wind_speed_Valencia,weekday,month,day_of_year,day_of_month,weekdays_weekends,1prev_week_load,2prev_week_load,3prev_week_load,4prev_week_load
0,2015-01-28 23:00:00+00:00,28577.0,29143.0,280.959656,1016.0,83.0,2.0,282.226313,1019.0,95.0,...,1.0,3.0,1.0,28,28,0,29755.0,27865.0,26788.0,25385.0
1,2015-01-29 00:00:00+00:00,26313.0,26868.0,281.925500,1015.0,76.0,2.0,281.438000,1018.0,88.0,...,2.0,3.0,1.0,29,29,0,27137.0,25617.0,25146.0,24382.0
2,2015-01-29 01:00:00+00:00,25016.0,25463.0,281.054656,1015.0,84.0,3.0,281.729688,1018.0,91.0,...,1.0,3.0,1.0,29,29,0,25675.0,24269.0,23889.0,22734.0
3,2015-01-29 02:00:00+00:00,24408.0,24839.0,281.561344,1014.0,80.0,3.0,281.211344,1018.0,86.0,...,2.0,3.0,1.0,29,29,0,25103.0,23940.0,23046.0,21286.0
4,2015-01-29 03:00:00+00:00,24295.0,24629.0,281.899500,1010.0,68.0,3.0,280.680000,1016.0,86.0,...,5.0,3.0,1.0,29,29,0,24952.0,23762.0,22587.0,20264.0

In [9]:
Final_Data.columns

Index(['time', 'total load actual', 'total load forecast', 'temp_Barcelona',
       'pressure_Barcelona', 'humidity_Barcelona', 'wind_speed_Barcelona',
       'temp_Bilbao', 'pressure_Bilbao', 'humidity_Bilbao',
       'wind_speed_Bilbao', 'temp_Madrid', 'pressure_Madrid',
       'humidity_Madrid', 'wind_speed_Madrid', 'temp_Seville',
       'pressure_Seville', 'humidity_Seville', 'wind_speed_Seville',
       'temp_Valencia', 'pressure_Valencia', 'humidity_Valencia',
       'wind_speed_Valencia', 'weekday', 'month', 'day_of_year',
       'day_of_month', 'weekdays_weekends', '1prev_week_load',
       '2prev_week_load', '3prev_week_load', '4prev_week_load'],
      dtype='object')

In [10]:
#display weather features as sine and cosine
def sine_cosine( dataframe, column ):
    count_values = dataframe[column].nunique()
    pie_degree = 360/count_values
    pie_size = (3.1415*pie_degree)/180
    sine = []
    cosine = []
    for i in range(len(dataframe)):
        degrees = dataframe[column][i]*pie_size
        sine.append(math.sin(degrees))
        cosine.append(math.cos(degrees))
    return sine, cosine

In [11]:
time_features = ['weekday', 'month', 'day_of_year', 'day_of_month']
for feature in time_features:
    sine, cosine = sine_cosine( Final_Data, feature )
    Final_Data[feature+'_sin'] = sine
    Final_Data[feature+'_cos'] = cosine

In [12]:
#create lists of load trend, weather, and time features for the forecasting day, _fd means forecasting day
columns_fd = ['1prev_week_load', '2prev_week_load', '3prev_week_load', '4prev_week_load', 'temp_Madrid',
                   'pressure_Madrid','humidity_Madrid','wind_speed_Madrid','temp_Seville','pressure_Seville',
                   'humidity_Seville','wind_speed_Seville', 'temp_Barcelona','pressure_Barcelona','humidity_Barcelona',
                   'wind_speed_Barcelona','temp_Valencia','pressure_Valencia','humidity_Valencia', 'wind_speed_Valencia', 
                   'temp_Bilbao','pressure_Bilbao','humidity_Bilbao', 'wind_speed_Bilbao', 
                   'weekday','month', 'day_of_year', 'day_of_month', 'weekdays_weekends', 'weekday_sin', 'weekday_cos',
                   'month_sin', 'month_cos', 'day_of_year_sin', 'day_of_year_cos', 'day_of_month_sin', 'day_of_month_cos']

for feature in columns_fd:
    fd_feature = [] 
    for i in range(0,len(Final_Data)):
        if i > len(Final_Data)-24*2-1 :
            fd_feature.append(0)
        else:
            fd_feature.append(Final_Data.loc[i+24*2, feature])
            
        #print(len(Final_Data[feature]))
    Final_Data[feature + '_fd'] = fd_feature

In [13]:
#add noise in weather data, _n means noise
# call numpy.random.normal(m, s, shape) , m mean, s standard deviation, and  the shape of the original signal (original.shape)

collumns = ['temp_Madrid_fd', 'pressure_Madrid_fd', 'humidity_Madrid_fd', 'wind_speed_Madrid_fd', 
            'temp_Seville_fd','pressure_Seville_fd', 'humidity_Seville_fd','wind_speed_Seville_fd', 
            'temp_Barcelona_fd','pressure_Barcelona_fd','humidity_Barcelona_fd','wind_speed_Barcelona_fd', 
            'temp_Valencia_fd','pressure_Valencia_fd','humidity_Valencia_fd', 'wind_speed_Valencia_fd', 
            'temp_Bilbao_fd','pressure_Bilbao_fd','humidity_Bilbao_fd', 'wind_speed_Bilbao_fd' ]

for weather_feature in collumns:
    print(weather_feature)
    ## represent every column asarray
    weather = np.asarray(Final_Data[weather_feature])
    # find noise and add to original signal
    noise = np.random.normal(0, 1, weather.shape)
    print (noise)
    new_signal = weather + noise
    #add noisy column to dataframe 
    Final_Data[weather_feature+ '_n'] = new_signal
    
    
#drop the weather columns without noise
Final_Data = Final_Data.drop(['temp_Madrid', 'pressure_Madrid', 'humidity_Madrid', 'wind_speed_Madrid', 
            'temp_Seville','pressure_Seville', 'humidity_Seville','wind_speed_Seville', 
            'temp_Barcelona','pressure_Barcelona','humidity_Barcelona','wind_speed_Barcelona', 
            'temp_Valencia','pressure_Valencia','humidity_Valencia', 'wind_speed_Valencia', 
            'temp_Bilbao','pressure_Bilbao','humidity_Bilbao', 'wind_speed_Bilbao' ,
            'temp_Madrid_fd', 'pressure_Madrid_fd', 'humidity_Madrid_fd', 'wind_speed_Madrid_fd', 
            'temp_Seville_fd','pressure_Seville_fd', 'humidity_Seville_fd','wind_speed_Seville_fd', 
            'temp_Barcelona_fd','pressure_Barcelona_fd','humidity_Barcelona_fd','wind_speed_Barcelona_fd', 
            'temp_Valencia_fd','pressure_Valencia_fd','humidity_Valencia_fd', 'wind_speed_Valencia_fd', 
            'temp_Bilbao_fd','pressure_Bilbao_fd','humidity_Bilbao_fd', 'wind_speed_Bilbao_fd',
            'total load forecast', 'weekday', 'month','day_of_year', 'day_of_month' ,
            'weekdays_weekends', '1prev_week_load','2prev_week_load', '3prev_week_load', '4prev_week_load', 
            'weekday_sin','weekday_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
            'day_of_year_cos', 'day_of_month_sin', 'day_of_month_cos',], axis = 1)

temp_Madrid_fd
[-0.59023747  0.23369806  0.1843992  ... -1.37624673 -0.43734599
 -0.10274539]
pressure_Madrid_fd
[ 0.88750344  1.71109193 -1.8809316  ... -0.92541319  0.38680975
 -0.96201133]
humidity_Madrid_fd
[-1.93173805 -0.30561252  0.71192092 ... -0.75212277 -0.32770723
  0.75451553]
wind_speed_Madrid_fd
[-1.24362476 -0.62653709 -2.31504039 ... -0.53022944  1.20946685
  0.82101821]
temp_Seville_fd
[ 1.4124291   1.40642904 -0.6060486  ...  0.78755652  0.08992959
 -1.17278421]
pressure_Seville_fd
[ 0.62181904  0.0342181  -0.72946091 ... -1.66634069  0.46881168
 -0.33280065]
humidity_Seville_fd
[-0.61733001 -0.85647805 -2.30226287 ...  0.94005838 -0.85320557
 -0.57081765]
wind_speed_Seville_fd
[ 0.41434987 -0.44955249  0.21051973 ...  1.08202175 -1.94442015
 -2.22098815]
temp_Barcelona_fd
[ 1.51110208 -0.11138245  1.28421512 ... -1.01791195  2.20643493
  0.89854784]
pressure_Barcelona_fd
[ 0.60688523  0.75744274  1.38278728 ... -1.27980676 -2.15873129
  0.7198705 ]
humidity_Barcelona_fd
[-0.46658576  2.01997625  0.28091556 ... -0.66713636  0.00749471
 -0.45006227]
wind_speed_Barcelona_fd
[-0.45851989 -1.92716742 -0.50523835 ... -0.39368323 -1.03779861
 -0.38977301]
temp_Valencia_fd
[-0.83464843 -0.87464851  0.72781683 ... -1.27095832  1.79487001
  0.86264359]
pressure_Valencia_fd
[-1.02877726  0.54664659  0.62634817 ...  0.4395729  -0.02006204
 -2.32170132]
humidity_Valencia_fd
[ 0.17914205 -0.1060543   0.08373549 ... -2.19884467 -1.15061458
 -0.95581759]
wind_speed_Valencia_fd
[-0.36978837  0.22532795 -1.57710565 ...  0.60109105  0.48987249
 -0.99925258]
temp_Bilbao_fd
[-0.40509207  0.8561255  -0.30432731 ...  0.87214588  0.45518089
 -0.28394432]
pressure_Bilbao_fd
[ 1.12317194  1.94913389 -0.62114821 ...  1.51942209 -0.6199622
 -1.26241597]
humidity_Bilbao_fd
[ 0.76001393 -1.48798286 -0.20004345 ... -1.82841817  1.64460553
  0.19011413]
wind_speed_Bilbao_fd
[0.1670987  0.6808274  0.49557931 ... 0.59095262 0.35633487 0.35661223]

In [15]:
#normalize data dividing by maximum value each column
data_columns = Final_Data.columns
data_col =data_columns[1:]
max_col = Final_Data.max()
i=1
for col in data_col:
    Final_Data[col] = Final_Data[col]/max_col[i]
    i+=1

In [19]:
Final_Data.head()

,time,total load actual,1prev_week_load_fd,2prev_week_load_fd,3prev_week_load_fd,4prev_week_load_fd,weekday_fd,month_fd,day_of_year_fd,day_of_month_fd,...,humidity_Barcelona_fd_n,wind_speed_Barcelona_fd_n,temp_Valencia_fd_n,pressure_Valencia_fd_n,humidity_Valencia_fd_n,wind_speed_Valencia_fd_n,temp_Bilbao_fd_n,pressure_Bilbao_fd_n,humidity_Bilbao_fd_n,wind_speed_Bilbao_fd_n
0,2015-01-29 00:00:00+01:00,0.696745,0.732415,0.704352,0.607071,0.623284,0.833333,0.083333,0.081967,0.967742,...,0.572346,0.098339,0.918755,0.953257,0.725953,0.475325,0.897076,0.949001,0.897586,0.398849
1,2015-01-29 01:00:00+01:00,0.641546,0.670121,0.652981,0.573083,0.575009,0.833333,0.083333,0.084699,1.000000,...,0.567410,0.004646,0.918628,0.954774,0.723199,0.489736,0.898431,0.951713,0.895186,0.302726
2,2015-01-29 02:00:00+01:00,0.609923,0.628136,0.611557,0.550750,0.541119,0.833333,0.083333,0.084699,1.000000,...,0.531463,0.095359,0.923740,0.954851,0.725032,0.446091,0.893512,0.948287,0.907649,0.355419
3,2015-01-29 03:00:00+01:00,0.595099,0.604315,0.587249,0.540705,0.519225,0.833333,0.083333,0.084699,1.000000,...,0.559401,0.006792,0.919307,0.955263,0.718755,0.463544,0.891864,0.951386,0.944653,0.179770
4,2015-01-29 04:00:00+01:00,0.592344,0.593880,0.576643,0.536999,0.515543,0.833333,0.083333,0.084699,1.000000,...,0.560371,0.023723,0.903092,0.949981,0.807322,0.146524,0.894104,0.951880,0.895531,0.382542

In [20]:
Data3 = pd.read_csv("final_data1.csv") 
list_time = list(Data3['time'][7*24*4:].values)
Final_Data['time'] = list_time
Final_Data['time'] = pd.to_datetime(Final_Data['time'])
Final_Data.head()

,time,total load actual,1prev_week_load_fd,2prev_week_load_fd,3prev_week_load_fd,4prev_week_load_fd,weekday_fd,month_fd,day_of_year_fd,day_of_month_fd,...,humidity_Barcelona_fd_n,wind_speed_Barcelona_fd_n,temp_Valencia_fd_n,pressure_Valencia_fd_n,humidity_Valencia_fd_n,wind_speed_Valencia_fd_n,temp_Bilbao_fd_n,pressure_Bilbao_fd_n,humidity_Bilbao_fd_n,wind_speed_Bilbao_fd_n
0,2015-01-29 00:00:00+01:00,0.696745,0.732415,0.704352,0.607071,0.623284,0.833333,0.083333,0.081967,0.967742,...,0.572346,0.098339,0.918755,0.953257,0.725953,0.475325,0.897076,0.949001,0.897586,0.398849
1,2015-01-29 01:00:00+01:00,0.641546,0.670121,0.652981,0.573083,0.575009,0.833333,0.083333,0.084699,1.000000,...,0.567410,0.004646,0.918628,0.954774,0.723199,0.489736,0.898431,0.951713,0.895186,0.302726
2,2015-01-29 02:00:00+01:00,0.609923,0.628136,0.611557,0.550750,0.541119,0.833333,0.083333,0.084699,1.000000,...,0.531463,0.095359,0.923740,0.954851,0.725032,0.446091,0.893512,0.948287,0.907649,0.355419
3,2015-01-29 03:00:00+01:00,0.595099,0.604315,0.587249,0.540705,0.519225,0.833333,0.083333,0.084699,1.000000,...,0.559401,0.006792,0.919307,0.955263,0.718755,0.463544,0.891864,0.951386,0.944653,0.179770
4,2015-01-29 04:00:00+01:00,0.592344,0.593880,0.576643,0.536999,0.515543,0.833333,0.083333,0.084699,1.000000,...,0.560371,0.023723,0.903092,0.949981,0.807322,0.146524,0.894104,0.951880,0.895531,0.382542

In [21]:
Final_Data.to_csv('Final_data_2.csv' ,  index=False)